.title{
    text-align: center;
    font-size: 20px;
    color: black;
    padding-top: 14px;
}
.name{
    font-size: 12px;
    color: #333333;
}
.date{
    font-size: 11px;
    color: #b4b4b4;
}
[nzm-button]{
    height: 40px;
}
.content-wraper{
    height: 100%;
    position: relative;
}
.focus{
    left: 5px;
}
.comment{
    height:auto;
    width: 70%;
    margin-left: 5px;
    position: sticky;
    bottom: 10px;
}